body, h5{
    background: #3E517A;
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    text-align: center;
    color: #5C5C5C
}

/* register/sign in page */
h4 {
    color:#5C5C5C;
}
.register input[type="register"],
.register input[type="login"]{
    background: #70CAD1;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #A8E0FF;
    border-radius: 3px;
    color: #D2E2FF;
}
.register input[type="register"]:hover,
.register input[type="login"]:hover {
    background: #6B9FFF;
    color:#fff;
} 

/* home page design */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    box-shadow: 0 5px 5px 0;
    margin-bottom: 35px;
    height: 600px;
    width: 1000px;

}


/* navigation */
.nav {
    height: 60px;
    background:#F0F0F0;
    border: 2px solid black;
    width:960px;
    margin:0px auto;
    border-radius:2px;
}

li {
    display: inline;
    padding: 25px;
}

/* ribbon */
.ribbon {
    font-size: 16px;
    width: 50%;
    position: relative;
    background: #9B6A6C;
    color: #fff;
    text-align: center;
    padding: 1em 2em; /* Adjust to suit */
    margin: 2em auto 3em;
    border-radius:2px;
}

/* non-profit org list  */
.search {
    padding: 10px;
}
.cards {
    display: block;
    align-content: center;
    background: #F0F0F0;
    border: 2px solid black;
    border-radius:2px;
    padding: 20px;
    color:#5C5C5C;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
}

.cards button[type="submit"] {
    background: #70CAD1;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #A8E0FF;
    border-radius: 3px;
    color: #D2E2FF;
}
.cards button[type="submit"]:hover {
    background: #6B9FFF;
    color:#fff;
}

a {
    color: #B08EA2;
}

a:visited {
    color: #9B6A6C;
}

a:hover {
    color:#424B54;
}

/* non-profit form and event form styling */

.form-style-7{
    border: 2px solid black;
    max-width:400px;
    margin:50px auto;
    background:#fff;
    border-radius:2px;
    padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
}
.form-style-7 ul{
    list-style:none;
    padding:0;
    margin:0;   
}
.form-style-7 li{
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}
.form-style-7 li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}
.form-style-7 li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}
/* .form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus  */

.form-style-7 li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.form-style-7 textarea{
    resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
    background: #70CAD1;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #A8E0FF;
    border-radius: 3px;
    color: #D2E2FF;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
    background: #6B9FFF;
    color:#fff;
}

/* @media only screen and (max-width: 500px) {
   
} */