

<form class="form-style-7">
    <h1>Organization Information</h1>
        <ul>
            <li>
                Name:
                <input type="text" name="name" maxlength="100" ng-model="newOrg.orgName" />
                <span>Name of your organization</span>
            </li>
            <li>
                Website:
                <input type="url" name="url" maxlength="100" ng-model="newOrg.website" placeholder="enter website address" />
                <span>Your website address (eg: http://www.google.com)</span>
            </li>
            <li>
                Location:
                <input name="location" type="text" ng-model="newOrg.orgLocation" >
                <span>City organization is located.</span>
            </li>
            <li>
                <!-- <button type="submit" value="Send This" ng-click="addOrg()">Submit</button> -->
                <input type="submit" value="Submit" ng-click="addOrg()">
            </li>
        </ul>
</form>

