<div>
    Search by Keyword:
    <input type="text" ng-model="searchText" />
</div>
    
    List of Organizations
    <div ng-repeat="org in organizations | filter: searchText">
        <a href="#!/organization/list/{{ org.id }}">{{ org.orgName }}</a><br> 
        <a href="{{org.website}}">{{ org.website }}</a><br>
        <a href="#!/organization/list/">{{ org.orgLocation }}</a><br>
        <span ng-show="org.isCurrentUser === true">
        <button ng-click="deleteOrg(org)">Delete</button>
        </span>
    </div>
      