<div class="form-style-7 search">
    <input type="text" ng-model="query" placeholder="Search Non-Profits"/>
</div>
    
    <h1 class="ribbon">List of Organizations</h1>
    <div class="cards" class="grid" ng-repeat="org in organizations | filter: query">
        <h2 href="#!/organization/list/{{ org.id }}">{{ org.orgName }}</h2><br> 
        <a href="{{org.website}}">{{ org.website }}</a><br>
        <p href="#!/organization/list/">{{ org.orgLocation }}</p><br>
        <span ng-show="org.isCurrentUser === true">
        <button type="submit" ng-click="deleteOrg(org)">Delete</button>
        </span>
    </div>
      