<div class="content-block" id="contact">
    <div class="overlay-3">
        <header class="block-heading cleafix text-center">
            <!-- <h1>Contact</h1> -->
        </header>
        <div class="block-content text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow animated fadeInLeft">
                        <form class="contact-form" action="form.php">
                            <input type="email" name="email" placeholder="Email address" ng-model="auth.email" autofocus required>
                            <input type="password" name="password" placeholder="Password" ng-model="auth.password" required>
                            <input type="button" class="btn btn-primary" type="register" value="Register" ng-click="registerUser(auth)">
                            <input id="myInput" type="button" type="login" class="btn btn-primary" value="Login" ng-click="loginUser(auth)">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>