<div class="ribbon">
    <h1>Welcome!</h1>
</div>

<img src="https://tonyyoungphotography.com/images/Commercial/Tony-Young-Architectural-Photography-Nashville-Skyline.jpg" alt="Nashville Skyline" title="photo by: Tony Young">

<div class="cards">
    <h4><i>“No one is useless in this world who lightens the burdens of another.”</i> ― Charles Dickens</h4>
    <h4><i>“You have not lived today until you have done something for someone who can never repay you.”</i>― John Bunyan</h4><br>  
</div>

<div class="cards">
    <p>Welcome to ____! A centralized place for those looking to do good in the community can find an event or organization to team up with.</p><br>
    <p>As a representative of a non-profit, you can enter event information, as well as, a way to create a listing to your site for the public to see.</p><br>
</div>

<h5>Leah Duvic &copy; 2017</h5>